{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <style>
        /* Remove default bullets */
        ul {
            list-style-type: none;
        }

        /* Style the caret/arrow */
        .caret {
            cursor: pointer;
            user-select: none; /* Prevent text selection */
        }

        /* Create the caret/arrow with a unicode, and style it */
        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

        /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
        .caret-down::before {
            transform: rotate(90deg);
        }

        /* Hide the nested list */
        .nested {
            display: none;
        }

        /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
        .active {
            display: block;
        }
    </style>

    <h1>Hierarchical overview generation</h1>
    <p>Generate an Excel sheet for an ontology with definitions and indented children</p>
    <div class="alert alert-warning">
        <b>Only direct parents are used</b><br>
        <p>In the current stage we can only show the hierarchy as it is asserted in the ontology. No automatic inference
            is done!</p>
    </div>

    {% if repo %}
        {% if hierarchies %}
            {% for hierarchy in hierarchies %}
                {% macro node(n) %}
                    <li>
                        <span class="{{ 'caret' if n.children | length > 0 else '' }}"></span>
                        {#                <input type="checkbox" checked class="input-checkbox">#}
                        {{ n.label }} ({{ ontology.get_id_for_iri(n.item) }})
                        <ul class="nested">
                            {% for c in n.children %}
                                {{ node(c) }}
                            {% endfor %}
                        </ul>
                    </li>
                {% endmacro %}
                <ul>
                    {{ node(hierarchy) }}
                </ul>
            {% endfor %}
            <a class="btn btn-primary" href="{{ url_for('admin.hierarchical_overview_download', repo=repo) }}"
               target="_blank">Download</a>
        {% else %}
            <div class="alert alert-danger">
                <b>No hierarchy</b><br>
                No hierarchy could be built!
            </div>
        {% endif %}

    {% else %}
        <div class="row align-stretch">
            {% for repo, repo_detail in config['REPOSITORIES'].items() %}
                <div class="col-sm-6 col-md-4 col-lg-3 m-2">

                    <a class="card bg-light" href="{{ url_for('admin.hierarchical_overview', repo=repo) }}"
                       style="height: 100%; text-decoration: none;; border-width: 2px 2px 4px 2px">
                        <div class="section p-5 text-center fs-2">
                            {{ repo }}
                        </div>
                        <div class="card-body text-center">
                            {{ repo_detail }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <script>
        const toggler = document.getElementsByClassName("caret");
        for (let i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }

        const inputs = document.querySelectorAll("input[type='checkbox']")
        for (const input of inputs) {
            input.addEventListener("change", event => {
                if (input.checked) {
                    let p = input;
                    while (p) {
                        p.checked = true

                        p = p.parentElement?.parentElement?.parentElement?.querySelector(":scope > input[type='checkbox']")
                    }
                } else {
                    const children = input.parentElement.querySelectorAll("input[type='checkbox']")
                    for (const child of children) {
                        child.checked = false
                    }
                }
                console.log({value: input.checked})
            })
        }
    </script>


{% endblock %}
