<h3>Verify the built ontologies</h3>

<p>
    Please download the built ontologies and open them in Protégé (download
    <a href="https://protege.stanford.edu/software.php#desktop-protege">here</a> or use
    <a href="https://webprotege.stanford.edu/">Web protege</a>).
</p>
<ul>
    {% for file in details['files'] %}
    	<li><a href="{{ file['link'] }}" download="{{ file['name'] }}">{{ file['name'] }}</a></li>
    {% endfor %}

</ul>
<p>
    Check the following things:
</p>

<ul class="list-unstyled">
    <li class="ms-4">
        <div class="form-check">
            <input class="form-check-input checklist" type="checkbox" value="" id="chk-asserted">
            <label class="form-check-label" for="chk-asserted">
                Does the (asserted) hierarchy look alright?
            </label>
        </div>
    </li>
    <li class="ms-4">
        <div class="form-check">
            <input class="form-check-input checklist" type="checkbox" value="" id="chk-inferred">
            <label class="form-check-label" for="chk-inferred">
                Start the reasoner. Does the inferred hierarchy look alright?
            </label>
        </div>
    </li>
</ul>

<button class="btn btn-success w-100" id="btn-publish-release">Everything looks alright. Publish the release!</button>

