{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <div class="d-flex gap-2 align-items-center">
        <h1 id="lbl-release-title"><i id="icon-release" class="fa fa-spinner fa-spin text-black-50"></i> Release</h1>
        <span id="release-info" class="align-self-end mb-2 text-muted"></span>
        <span class="flex-fill"></span>
        <div class="form-check form-switch">
            <input class="btn-check" type="checkbox" role="switch" id="tgl-auto-refresh" checked>
            <label class="btn btn-outline-primary" for="tgl-auto-refresh">Auto refresh</label>
        </div>

        <button class="btn btn-primary" id="btn-release-refresh"><i class="fa fa-refresh"></i> Refresh</button>
        <button class="btn btn-warning" id="btn-release-restart"><i class="fa fa-rotate-left"></i> Restart
        </button>
        <button class="btn btn-danger" id="btn-release-cancel"><i class="fa fa-cancel"></i> Cancel</button>
    </div>


    <div style="display: grid;grid-template-columns: 240px 1fr;grid-gap: 50px" class="text-start w-100"
         id="release-core">
        {% include "release_core.html" %}
    </div>

    <script>
        release =
        {{ release.as_dict() | tojson if release else "null" }};
    </script>
    <script src="/static/release.js"></script>

{% endblock %}


