<h3>Building lower level ontologies</h3>

{% if release.state == "waiting-for-user" and details["errors"] | length > 0 %}
    <div class="alert alert-danger">
        <h4>An error occurred while building the files</h4>
        <p>
            A technical error occurred. Please contact an administrator.
        </p>
    </div>
    {% for error in details['errors'] %}
        <div class="alert alert-danger">
            {% if "code" in error %}
                <h6>Command</h6>
                <pre>{{ error.command }}</pre>
                <h6>Return code</h6>
                <p>{{ error.code }}</p>
                <h6>Standard out</h6>
                <pre>{{ error.out }}</pre>
                <h6>Standard error</h6>
                <pre>{{ error.err }}</pre>
            {% else %}
                <pre>{{ error | tojson(indent=2) }}</pre>

            {% endif %}
        </div>
    {% endfor %}

{% else %}

    {{ loading_indicator("Lower level ontologies are now built.") }}
{% endif %}