<h3>Publishing the release</h3>

{% if release.state == "waiting-for-user" and details["errors"] | length > 0 %}
    {% for error in details['errors'] %}
        <div class="alert alert-danger">
            {% if "details" in error and "response" in error and "hydra:description" in error.response %}
                <h4>{{ error.response['hydra:title'] }}</h4>
                <p>{{ error.details }}</p>
                <p>{{ error.response['hydra:description'] }}</p>
            {% else %}
                <pre>{{ error | tojson(indent=2) }}</pre>

            {% endif %}
        </div>
    {% endfor %}
{% else %}

    {{ loading_indicator("The ontologies are being published to BCIOSearch.") }}
{% endif %}
