{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% if repo == None %}
        <div class="release">


            <div class="row align-stretch" style="max-width: 1080px; margin: 0 auto">

                <h4>Which repository should be released?</h4>
                {% for short, long in repos.items() %}
                    <div class="col-sm-6 col-md-4 col-lg-3 m-2">

                        <a class="card bg-light"
                           href="{{ url_for('admin.release', repo=short) }}"
                           style="cursor: pointer; height: 100%; text-decoration: none;; border-width: 2px 2px 4px 2px">
                            <div class="section p-2 text-center fs-2" style="">
                                {{ short }}
                            </div>
                            <div class="card-body text-center">
                                {{ long }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="release" id="vue-app-release">
        </div>
        <script>
            var SERVER_DATA={repo: "{{repo}}" }
            var URL_PREFIX={prefix: '{{config["URL_PREFIX"]}}' }
        </script>
        <script type="module" src="{{url_for('static', filename='js/release.js')}}"></script>
    {% endif %}
{% endblock %}


