### Python ###
__pycache__/
ontospreaded.json
ontospreaded.json.test2
.idea

node_modules
ose/static/js
ose/static/main.css
ose/static/main.css.map

node_modules
ose/static/js
ose/static/main.css
ose/static/main.css.map

indexdir/
/venv/
