Flask==2.3.3
pandas
openpyxl
gunicorn
Flask-SQLAlchemy==3.1.1
Flask-Injector
GitHub-Flask
jsonschema
daff
whoosh
networkx
pydot
py-horned-owl
ontoutils
flask-cors==3.0.10
flask-executor
aiohttp
async-lru
Flask-Migrate
pyyaml
dacite
