Flask==2.3.3
pandas
openpyxl
gunicorn
Flask-SQLAlchemy==3.1.1
Flask-Injector
GitHub-Flask
google-cloud-secret-manager
google-cloud-storage
daff
whoosh
networkx
pydot
py-horned-owl
ontoutils
flask-cors==3.0.10
flask-caching==2.1.0
flask-executor