Flask==1.1.1
pandas
openpyxl
gunicorn
Flask-SQLAlchemy
GitHub-Flask
google-cloud-secret-manager
google-cloud-storage
daff
whoosh
networkx
pydot
py-horned-owl==0.1.4
flask-cors==3.0.10
flask-caching==1.10.1