{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="vue-app-dashboard">
    </div>
    <script>
        var URLS = {
            prefix: '{{config["URL_PREFIX"]}}',
            release: '{{ url_for('admin.release') }}',
            rebuildIndex: '{{ url_for('admin.rebuild_index') }}',
            settings: '{{ url_for("admin.settings") }}'
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
