{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="vue-app-settings">
    </div>
    <script>
        var URLS = {
            prefix: '{{config["URL_PREFIX"]}}'
        }
        var SETTINGS = {
            'repositories': {{ config_service.loaded_repositories() | tojson | safe }},
            'startup_repositories': {{ config_service.startup_repositories() | tojson | safe }},
            'changing_startup_allowed': {{ config_service.changing_startup_allowed | tojson | safe }},
            'loading_new_allowed': {{ config_service.loading_new_allowed | tojson | safe }}
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
