<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap filter table CSS -->
    <link rel="stylesheet" href="/static/excel-bootstrap-table-filter-style.css">

    <link rel="shortcut icon" href="#" />

    <title>{% block title %}{{ config['APP_TITLE'] }} {% endblock %}</title>

    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
        <div id="content">
            <h1>{{ config['APP_TITLE'] }}</h1>

            <div class="container-fluid">
                <div class="row">
                    {% if login %}
                    <div class="col-8"> You are currently logged in as {{login}}. </div>
                    <div class="col-4"><span class="float-right"> <a href="/home">Go home</a> | <a href="/logout">Log out</a></span></div>
                    {% endif %}
                </div>
            </div>
            <hr/>

            {% block content %}{% endblock %}

        </div>

        <div id="footer">
            {% block footer %}
                <hr/>
                <p class="text-center">
                    <a href="mailto:j.hastings@ucl.ac.uk">Contact</a>
                </p>
            {% endblock %}
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


    <!-- MindMup Editable Table -->

    <!-- <script type="text/javascript" src="/static/mindmup-editabletable.js"></script> -->

    <!-- Excel Bootstrap filter table -->

    <!-- <script src="/static/excel-bootstrap-table-filter-bundle.js"></script> -->



    <!-- <script type="text/javascript"> -->

    <!-- //Make the table cells editable
    // $('#contentTable').editableTableWidget();

    //Add actions when table cells change their value -->
    <!-- $('#contentTable').on('change', 'td', function(evt, newValue) { -->
        <!-- cell = $(this);  //the cell in which the text has just changed -->


    <!-- }); -->

    <!-- //Make the table columns searchable and filterable -->
    <!-- $('#contentTable').excelTableFilter(); -->

    <!-- </script> -->

    <!-- //tabulator: -->
<!-- <link href="static/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="static/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="static/dist/js/jquery_wrapper.min.js"></script> -->

 <link href="https://unpkg.com/tabulator-tables@4.8.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.2/dist/js/tabulator.min.js"></script>
<script>
//highlight rows once table first finishes loading:
    $('#contentTable').ready(function() {

        //generate table header data:
    // var tableDataArray = [];
    // var html_table_data = '{title: "';  
    // var bRowStarted = true;  
    // var i;
    // $('#contentTable thead>tr').each(function () {  
    //     $('th', this).each(function () {  
    //         if (html_table_data.length == 0 || bRowStarted == true) {  
    //             html_table_data += $(this).text();  
    //             bRowStarted = false;  
    //         }  
    //         else  {
    //             html_table_data += '"},'; 
    //             tableDataArray.push(html_table_data);
    //             html_table_data = '{title: "' + $(this).text();
    //             // html_table_data += " | " + $(this).text();
    //             i++;
    //         }
    //     });  
    //     // html_table_data += "\n";  
    //     bRowStarted = true;  
    // });  

    //generate table headers String Array:
    var tableDataArray = [];
    var html_table_data = '';  
    var bRowStarted = true;  
    var i;
    $('#contentTable thead>tr').each(function () {  
        $('th', this).each(function () {  
            if (html_table_data.length == 0 || bRowStarted == true) {  
                html_table_data += $(this).text();  
                bRowStarted = false;  
            }  
            else  {
                // html_table_data += '"},'; 
                tableDataArray.push(html_table_data);
                 html_table_data = $(this).text();
                // html_table_data += " | " + $(this).text();
                i++;
            }
        });  
        // html_table_data += "\n";  
        bRowStarted = true;  
    });  

    //Todo: add this to Tabulator! It works!
    // console.log(tableDataArray);
    // for(j = 0; j < tableDataArray.length; j++) {
    // console.log(tableDataArray[j]);
    // }

        //tabulator:
   var table = new Tabulator("#contentTable", {
    // rowClick:function(e, row){ //trigger an alert message when the row is clicked
 	// 	alert("Row " + row.getData().id + " Clicked!!!!");
     // },
    //  tooltips:true, //example option (enable tooltips on all cells)
    //  data:table,
    // autoColumns:true,
    // data:table,
    // columns: tableDataArray, //definitely not working right now..
    persistentLayout: true,
    persistentLayoutID:"spreaded",
    columns:[ //set column definitions for imported table data
    //Todo: need to add all titles, and make them editable.
    

        //  {title:tableDataArray[0], field:tableDataArray[0].toLowerCase(), editor:"input", editable:true, headerFilter:true},
         {title:tableDataArray[0], editor:"input", editable:true, headerFilter:true},
        // {title:"Curation status", field:"col", editor:"input", editable:true},
    ],

    cellClick:function(e, cell){
        // console.log(cell.getValue()); //this works
    //e - the click event object
    //cell - cell component
    },
    //  cellEditing:function(cell){
    //     //cell - cell component
    // },
    cellEdited:function(cell){
    //cell - cell component
    cell.getElement().style.color = "#A6A6DF"; //ok this works!
    },
    rowFormatter:function(row){
    //row - row component

    var data = row.getData();
// console.log(data);
//Todo: add regex formatting to data.curation_status here:
    if(data.curation_status == "Proposed "){
        row.getElement().style.backgroundColor = "#A6A6DF"; //apply css change to row element
    }
},

   });
});
</script>
  </body>
</html>