<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap filter table CSS -->
    <link rel="stylesheet" href="/static/excel-bootstrap-table-filter-style.css">

    <!-- //fontawesome: -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

    <link rel="shortcut icon" href="#" />

    <title>{% block title %}{{ config['APP_TITLE'] }} {% endblock %}</title>

    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
        <div id="content">
            <h1>{{ config['APP_TITLE'] }}</h1>

            <div class="container-fluid">
                <div class="row">
                    {% if login %}
                    <div class="col-8"> You are currently logged in as {{login}}. </div>
                    <div class="col-4">
                      <span class="float-right">
                      {% if folder and spreadsheet_name %}
                        <a href="/repo/{{repo_name}}/{{folder}}">Back to {{folder}}</a> |
                      {% elif repo_name and folder_path %}
                        <a href="/repo/{{repo_name}}">Back to {{repo_name}}</a> |
                      {% endif %}
                      <a href="/home">Go home</a> | <a href="/logout">Log out</a>
                      </span>
                      </div>
                    {% endif %}
                </div>
            </div>
            <hr/>

            {% block content %}{% endblock %}

        </div>

        <div id="footer">
            {% block footer %}
                <hr/>
                <p class="text-center">
                    <a href="mailto:j.hastings@ucl.ac.uk">Contact</a>
                </p>
            {% endblock %}
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Bootbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.1/bootbox.min.js"></script>

    {% block javascriptblock %}

    {% endblock %}

  </body>
</html>