{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

<div class="row mb-3">
    <div class="col-md-12">
        <h2> Editing {{spreadsheet_name}} </h2>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-9">
        <div class="text-left"> 
            <button id=add-row class="btn btn-outline-info btn-sm"><i class="fas fa-plus"></i> Add Row</button>
            <button id=delete-rows class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete Rows</button>
            <button id=highlight-user class="btn btn-outline-warning btn-sm"><i class="fas fa-highlighter"></i> Highlight Your Rows</button>
            <button id=remove-formatting class="btn btn-outline-dark btn-sm"><i class="fas fa-remove-format"></i> Remove all Filters</button>
            <button id=ask-for-review class="btn btn-outline-primary btn-sm"><i class="fas fa-clipboard"></i> Ask for review</button>
            <button id=reviewed class="btn btn-outline-primary btn-sm"><i class="fas fa-clipboard-check"></i> Reviewed</button>
            <button id=minus class="btn btn-sm"><i class="fas fa-minus-square"></i></button>
            <button id=plus class="btn btn-sm"><i class="fas fa-plus-square"></i></button>
        </div> 
    </div>

    <div class="col-md-3">
        <button id="save-btn" class="btn btn-outline-success btn-lg" onclick="save_changes( '{{repo_name}}', '{{folder}}' , '{{ spreadsheet_name }}' , JSON.stringify( table.getData() ) ) "> Save changes to repository
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div id="saveAlert" class="alert alert-success collapse" role="alert">
        <button id="closeSaveMsgBtn" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div id="saveMessage"> </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="contentTable" class="table table-bordered table-hover table-sm" style="font-size: 0.8em;">
    </div>
    </div>
</div>


<div class="row">
<!-- The form that gets displayed on the confirmation box, otherwise is hidden -->
  <div id="message-box" class="form-content" style="display:none;">
      <form class="form" role="form">
          <div class="form-group">
            <label for="commit-msg">Commit message</label>
            <input type="text" class="form-control" id="commit-msg" name="commit-msg">
          </div>
          <div class="form-group">
            <label for="descr">Detailed description</label>
            <input type="text" class="form-control" id="descr" name="descr">
          </div>
      </form>
  </div>
</div>


{% endblock %}finish this dropdown and add button functionality

{% block javascriptblock %}
<!-- //tabulator: -->
<!-- always up-to-date tabulator CDN? -->
<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator_simple.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>

<!-- <link href="https://unpkg.com/tabulator-tables@4.8.2/dist/css/tabulator_simple.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.2/dist/js/tabulator.min.js"></script> -->

<!-- <link href="https://unpkg.com/tabulator-tables@4.9.1/dist/css/tabulator_simple.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.1/dist/js/tabulator.min.js"></script> -->


<!-- bootstrap 4 theme -->
<!-- <link href="https://unpkg.com/tabulator-tables@4.8.2/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet"> -->
<!-- link href="https://unpkg.com/tabulator-tables@4.9.1/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet"> -->
<link href="https://unpkg.com/tabulator-tables/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">

<script type="text/javascript">
    //hide save button on load
    $('#save-btn').hide();

    //table resize - load/save in local storage
    var heightOfTable = 600;
    if (localStorage.getItem("height")) {
         heightOfTable = parseInt(localStorage.getItem("height"));
    } else {
        heightOfTable = 600; 
        localStorage.setItem("height", JSON.stringify(heightOfTable))
    }

    // Column name for curation status
    var curation_status = "Curation status"

    // For the curation status, the allowed values
    var discussed = "Discussed";
    var ready = "Ready";
    var proposed = "Proposed";
    var toBeDiscussed = "ToBeDiscussed";
    var inDiscussion = "InDiscussion";
    var published = "Published";

    //whyFuzzy
    var why_Fuzzy = "Why fuzzy";//column name
    var whyFuzzy = "Whyfuzzy";
    
    //for to be reviewed by
    var to_be_reviewed_by = "To be reviewed by";
    //Column name for Curator   
    var curator = "Curator";
    //label:
    var label = "Label";

    // array to save changes in backupChanges
    var changes = [];

    //boolean conflict check
    var unsavedChanges = false;    

    //Get the row data from the Jinja template object "rows"
    var rowData = {{ rows | safe }};
    var rowLength = rowData.length;

    var headers = {{ header | safe }};
    var headerLength = headers.length;

    
    //Build the table row data with field names
    var tableData = [];
    var testTableData = [];

    //get saved table data, compare to current table: 
    for (var i=0; i<rowLength; i++) {
            var rowObj = {id:i}
            for (var j=0; j<headerLength; j++) {
                rowObj[ headers[j] ] = rowData[i][ headers[j] ];
            }
            testTableData.push(rowObj);
        }

    var previousTableData = localStorage.getItem("savedTableData");
    if(JSON.stringify(testTableData) === previousTableData){
        console.log("SAME SAME");
    } else {
        unsavedChanges = true;
        console.log("NOT SAME WHY?"); // todo: this message is showing because the top row is removed from the refreshed table. Waiting for confirmation on fix
        var changesArray = [];
        //check saved changes array
        if(window.localStorage.getItem("savedChanges") !== null){ 
            var previousChangeData = window.localStorage.getItem("savedChanges");
            console.log("previousChangeData is: " + previousChangeData); //just checking.
            changesArray = JSON.parse(previousChangeData);
            unsavedChanges = true;
            if(changesArray.length < 3){ //savedChanges not correct format or empty
                window.localStorage.removeItem("savedChanges");
                unsavedChanges = false;
            }
        } else{ //no saved changes, don't look for them later
            console.log("savedChanges missing");
            unsavedChanges = false;
        }
        var changesLength = changesArray.length/3;
        var changeWorkingOn = 0; 
    }

   
    //restore unsaved changes if needed: 
    if(unsavedChanges){ 
        //todo: format unsaved changes to be human readable here - and show diff to user
        //todo: create new table in popup with save/not save changes per item?
        if (confirm("You have previously unsaved changes \n Would you like to keep them? \n" + previousChangeData)) {
                //unsavedChanges code here, plus save at end
                for (var i=0; i<rowLength; i++) {
                    var rowObj = {id:i}
                    for (var j=0; j<headerLength; j++) {                
                        rowObj[ headers[j] ] = rowData[i][ headers[j] ];
                        //insert restored data:
                        if(i == changesArray[changeWorkingOn+1]){ //match row number
                            // console.log(i + ": " + rowData[i]);
                            if(headers[j] == changesArray[changeWorkingOn+2]){ //correct column
                                    console.log(j + ": " + rowData[i][headers[j]] + " change to: " + changesArray[changeWorkingOn]);
                                    rowObj[ headers[j] ] = changesArray[changeWorkingOn]; //correct data
                                    changeWorkingOn += 3;
                                    if(changeWorkingOn/3 == changesLength){
                                        window.localStorage.removeItem("savedChanges"); 
                                    }
                            } else{
                                rowObj[ headers[j] ] = rowData[i][ headers[j] ];
                            }
                        }
                    }
                    tableData.push(rowObj);
                }
                alert("Save changes to repository to avoid losing them");
                //todo: save automatically? Keep the changes? Add to change array instead of dealing with it now?
            } else {
                //discard changes
                for (var i=0; i<rowLength; i++) {
                    var rowObj = {id:i}
                    for (var j=0; j<headerLength; j++) {
                        rowObj[ headers[j] ] = rowData[i][ headers[j] ];
                    }
                    tableData.push(rowObj);
                }
            }
        $('#save-btn').show();
    } else{
        //no changes
        for (var i=0; i<rowLength; i++) {
            var rowObj = {id:i}
            for (var j=0; j<headerLength; j++) {
                rowObj[ headers[j] ] = rowData[i][ headers[j] ];
            }
            tableData.push(rowObj);
        }
    }
    
    //login
    var loginInitials = "{{user_initials}}"; //todo: remove all '' and ; so I can use this?
    var highlightLogin = false; //highlight user edited tables

    //all_initials
    var allInitials =  {{ all_initials | safe }};
    //console.log("allInitials: " + allInitials);

    // save changes
    var tableEdited = false; //true when user has unsaved changes - for exit without saving warning

    //row value, keep track of where we are:
    var rowValue = 0;
    var columnValue = 0; //why doesn't tabulator have this?

    //header menu:
    //define row context menu
    //todo: resize to header text or initial value per header?
    var headerMenu = [
        {
            label:"Hide Column",
            action:function(e, column){
                //column.setWidth(40);
                column.hide();
            }
        },
        {
            label:"Show Hidden",
            action:function(e, column){
                //column.setWidth(200);
                var allColumns = table.getColumns(); //this is all columns, should we get filtered ones only?
                for(var i = 0; i < allColumns.length; i++){
                    if(!table.getColumn(allColumns[i]).isVisible()){
                        table.getColumn(allColumns[i]).show();
                    }
                }
            }
        },
        {
            label:"Reset All Column Widths",
            action:function(e, column){
                var allColumns = table.getColumns(); //this is all columns, should we get filtered ones only?
                for(var i = 0; i < allColumns.length; i++){
                    table.getColumn(allColumns[i]).setWidth(200);
                }
            }
        },
    ]

    //Build the column data from the Jinja template object "header"
    var columnData = []; //Start with an empty array
    //checkbox row selector on the side:
    columnData.push({formatter:"rowSelection", titleFormatter:"rowSelection", width:"50", hozAlign:"center", headerSort:false, frozen:true});
    for (var i=0; i<headerLength; i++) {
        //Dropdown list for "Curation status":
        //Todo: do I need to sanitize this? Need to support "Curation Status", "CurationStatus"?
        if(headers[i] == "Curation status"){
            columnData.push({title:headers[i], field:headers[i], editor: "select", editable:true, editorParams:{values:["Proposed", "Discussed", "Ready", "To Be Discussed", "In Discussion", "Published"]}, headerFilter:"input", width:"200", formatter:"textarea", headerMenu:headerMenu});
        } else if(headers[i] == "E-CigO"){ //todo: headerFilter can't select by unchecked?
            columnData.push({title:headers[i], field:headers[i], hozAlign:"center", editor:true, formatter:"tickCross", headerFilter:true, width:"50", headerMenu:headerMenu});
        } else if(headers[i] == "Fuzzy set"){ //todo: checkbox change not affecting highlight your rows if there is another curator listed
            columnData.push({title:headers[i], field:headers[i], hozAlign:"center", editor:true, formatter:"tickCross", headerFilter:true, width:"50", headerMenu:headerMenu});
        } 
        else if(headers[i] == "To be reviewed by"){ 
            columnData.push({title:headers[i], field:headers[i], editor: "textarea", editable:true, headerFilter:"input", width:"200", formatter:"textarea", headerMenu:headerMenu});
        } 
        // else if(headers[i] == "To be reviewed by"){ 
        //     columnData.push({title:headers[i], field:headers[i], editor: "select", editable:true, editorParams:{values:getDropdown, multiselect:true,}, headerFilter:"input", width:"200", formatter:"textarea", headerMenu:headerMenu});
        // } 
        else{
            columnData.push({title:headers[i], field:headers[i], editor: "textarea", editable:true, headerFilter:"input", width:"200", formatter:"textarea", headerMenu:headerMenu});
        }
    }

    
    function getDropdown(cell){
            return(allInitials);
        }
    //Create the Tabulator table:
    var table = new Tabulator("#contentTable", {
        // tooltips:true, //example option (enable tooltips on all cells)
        groupToggleElement:"header",
        height:heightOfTable,
        //height:"calc(100% - 250px)",
        //height:"100%", //this makes the header not stay on the top..
        layout:"fitColumns",
        //layout:window.innerWidth > 800 ? "fitColumns" : "fitData",
        // pagination:"local",
        // paginationSize:"20",
        movableRows:false,
        groupBy:"Id",
        groupStartOpen:true,
        persistence:true,
        /*persistence:{
        sort: true, //persist column sorting
        filter: true, //persist filter sorting
        group: true, //persist row grouping
        page: true, //persist page
        //columns: true, //persist columns
        columns: ["width", "visible", "frozen"],
    },*/ //this doesn't work either for dropdown persistence
        // movableRows:true,
        // responsiveLayout:"hide",
        keybindings:true,
        history:true, //records table interaction
        // addRowPos:"bottom",
        // virtualDom:false,
        data: tableData,
        columns: columnData,
        //autoColumns: true,
        reactiveData:true, //enables updating cell contents programmatically

        virtualDomBuffer: 300, //may be needed to fix bug where up scroll is disappearing rows

        scrollToRowPosition: "bottom", //for scrollToRow()
        scrollToRowIfVisible: false,


        
        dataSorting:function(sorters){
            //console.log("sorted");
            //sorters - an array of the sorters currently applied
        },
        //called when table rendered or re-drawn:
        //todo: had an intermittent problem with focus skipping halfway down the table. Clear cookies sorted it out. 
        //do we need a clear cookies button? 
        tableBuilt:function(){
            
        },
        renderStarted:function(){
            
        },
        renderComplete:function(){
            try{
                table.scrollToRow(rowValue); // todo: rowValue needs to be updated in several places - is this the best approach?
                //console.log(table);
                var row = table.getRowFromPosition(0, true); 
                var cell = row.getCell("parent");
                cell.setValue("replaced");
                console.log("hello");
                console.log("cell is: " + cell);
                //console.log("rowValue is: " + rowValue);
            } catch{
                //console.log("caught"); //this happens on initial load, table loaded twice?
            }
            //table.setColumns(columnData);
        },

        columnResized:function(column){
            //console.log("resized"); //not triggering on hide, show column dropdown
        },

        //todo: select all checkbox doesn't trigger rowSelected (no highlight, still deletes though...) - maybe it's just slow?
        rowSelected:function(row){
            var data = row.getData();
            //show buttons concerning rows:
            if(data[curation_status] === undefined){ //for tables without curation_status 
                //don't show some buttons if in a table where they are not needed
            } else{
                //show buttons to do with rows
                $('#delete-rows').show();
                $('#ask-for-review').show();
                $('#reviewed').show();
            }
            row.getElement().style.backgroundColor = 'grey';
            rowValue = row.getPosition(true);
        },
        rowDeselected:function(row){ 
            var data = row.getData();
            var selectedRows = table.getSelectedRows();
            if(selectedRows.length > 0){
                //some rows still selected, do nothing
            } else{
                //no rows still selected, hide buttons to do with rows
                $('#delete-rows').hide();
                $('#ask-for-review').hide();
                $('#reviewed').hide();
            }
            
            row.getElement().style.backgroundColor = 'white';
            rowValue = row.getPosition(true);
        },
        

        cellClick:function(e, cell){
            var row = cell.getRow();
            rowValue = row.getPosition(true);
            // console.log(cell.getValue()); //this works
            //e - the click event object
            //cell - cell component
        },
        cellEditing:function(cell){
            var row = cell.getRow();
            rowValue = row.getPosition(true);
        },


        cellEdited:function(cell){
            cell.getElement().style.color = "#003399"; //change text colour on edited
            var row = cell.getRow();
            var data = row.getData();
            var column = cell.getColumn();

            //save changed cell data: 
            //{value, row, columnName}
            
            //todo: consecutive changes to the same cell are lost. need check for same row/column and overwrite here!
            if(cell.getValue() !== "" && cell.getValue() !== null){
                rowValue = row.getPosition(true);//save row position
                columnValue = cell.getField(); //column name
                var alreadyChanged = false;
                //check for previously edited cell, and overwrite if already changed before
                for(var i = 0; i < changes.length; i++){
                    if(rowValue == changes[i]){ //matches row number
                        if(columnValue == changes[i+1]){ //matches column name as well
                            console.log("already edited this field");
                            //todo: splice in changes here... did it work?
                            changes.splice(i-1, 3, cell.getValue(), rowValue, columnValue);
                            alreadyChanged = true;
                        }
                    } 
                }
                if(!alreadyChanged){
                    changes.push(cell.getValue());
                    changes.push(rowValue);
                    changes.push(columnValue);
                }
            }
        
            //update highlighting:
            if(data[curation_status] === undefined){
                
            } else{
                if (data[curation_status] !== null) {
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(discussed.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'moccasin'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(ready.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'palegreen'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(proposed.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'white'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(toBeDiscussed.toLowerCase()) !== -1){
                    row.getElement().style.backgroundColor = 'palegoldenrod'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(inDiscussion.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'lemonchiffon'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(published.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'aquamarine'; //apply css change to row element
                    }
                }
            }

            //"to be reviewed by" changed: need to change commas to semi-colons
            //now the drop-down is not populated..
            // if (data[to_be_reviewed_by] !== null) {
            //         var noCommas = data[to_be_reviewed_by].join("; ");
            //         data[to_be_reviewed_by] = noCommas; 
            // }

            //todo: when clicking on a checkbox once it saves curator even if there is no change
            
            //if a field in any column except "Curator" edited
            //check "Curator" column for loginInitials and auto fill
            if(data[curator] === undefined){ //curator column not present in table

            } else{
                if(column.getDefinition().title.toLowerCase().replace(/\s+/g, '').indexOf(curator.toLowerCase()) == -1){
                    if(cell.getValue() !== ""){ //stop saving curator when cell is empty - still saves if there are spaces... not an issue?
                        if(data[curator] !== null && data[curator] !== ""){
                                var prevCurator = data[curator];
                                var nameCheck = prevCurator.indexOf(loginInitials);
                                if(nameCheck > -1) {
                                    //name exists, don't update
                                } else {
                                    data[curator] = prevCurator + "; " + loginInitials;
                                }
                            } else{
                                data[curator] = loginInitials;
                            }
                        } else{
                            data[curator] = loginInitials;
                        }

                            //text must be coloured if highlighting login set though..
                            if(highlightLogin){
                                if(data[curator] !== null){ 
                                    var curatorA = data[curator];
                                    if(curatorA !== null){
                                        var nameCheckA = curatorA.indexOf(loginInitials);
                                        if(nameCheckA > -1) {
                                            row.getElement().style.color = 'black';
                                            row.getElement().style.fontWeight = 'bold';                                        
                                    }
                                }
                            }
                    }
                } else{ //if editing "Curator" column, text must be coloured if highlighting login set
                    if(highlightLogin){
                        if(data[curator] !== null && data[curator] !== ""){
                            var curatorB = data[curator];
                            if(curatorB !== null){
                                var nameCheckB = curatorB.indexOf(loginInitials);
                                if(nameCheckB > -1) {
                                    row.getElement().style.color = 'black';
                                    row.getElement().style.fontWeight = 'bold';                                }
                            }
                        } else{
                            row.getElement().style.color = 'black'; //change back to
                        }
                    }
                }
            }
            
            //If the user enters anything in the ‘Why fuzzy’ column automatically set the ‘Fuzzy set’ column to true 
            if(data[why_Fuzzy] === undefined){ //why Fuzzy column not present
                
            } else{
                if(column.getDefinition().title.toLowerCase().replace(/\s+/g, '').indexOf(whyFuzzy.toLowerCase()) !== -1){
                    if(cell.getValue() !== ""){
                        if (data[why_Fuzzy] !== null && data[why_Fuzzy] !== "") { 
                            data["Fuzzy set"] = 1;
                        }
                    }
                }
            }
            backupChanges(); //todo: as soon as user starts editing, conflicted save will be overwritten
        },

        cellEditCancelled:function(cell){

        },

        dataChanged:function(data){
            tableEdited = true;
            $('#save-btn').show();
            //alert("don't forget to save!");
        },

        //highlight on load table:
        rowFormatter:function(row){
            var data = row.getData();
            
            //hide unimportant buttons until rows selected: 
            $('#delete-rows').hide();
            $('#ask-for-review').hide();
            $('#reviewed').hide();
            if(data[curation_status] === undefined){ //for tables without curation_status 
                //don't try to look for columns below eg: discussed, ready, etc
            } else{
                if (data[curation_status] !== null) {
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(discussed.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'moccasin'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(ready.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'palegreen'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(proposed.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'white'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(toBeDiscussed.toLowerCase()) !== -1){
                    row.getElement().style.backgroundColor = 'palegoldenrod'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(inDiscussion.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'lemonchiffon'; //apply css change to row element
                    }
                    if(data[curation_status].toLowerCase().replace(/\s+/g, '').indexOf(published.toLowerCase()) !== -1){
                        row.getElement().style.backgroundColor = 'aquamarine'; //apply css change to row element
                    }
                }
            }

            if(highlightLogin){
                if(data[curator] === undefined){

                } else{
                    if(data[curator] !== null){
                        var curatorA = data[curator];
                        var nameCheckA = curatorA.indexOf(loginInitials);
                        if(nameCheckA > -1) {
                            row.getElement().style.color = 'black';
                            row.getElement().style.fontWeight = 'bold';
                        }
                    }
                }
            } else{
                    row.getElement().style.color = 'black';
                    row.getElement().style.fontWeight = 'normal';
                }
        },

        rowAdded:function(row){
            var rowZero = table.getRow(0); //will fail on empty spreadsheet, but row not working for new row..
            var data = rowZero.getData();
             
            table.scrollToRow(row, "bottom", false)
            .then(function(){
                if(data[label] === undefined){ //label column not present

                } else{
                    var cell = row.getCell("Label");
                    cell.getElement().focus(); //no focus for spreadsheets without "Label" column
                } 
            })
            .catch(function(error){
                //handle error scrolling to row
            });    
            rowValue = row.getPosition(true);           
        },

        // rowUpdated:function(row){

        // },
    });

    //below recommended for Firefox in particular by Tabulator issue responseText
    //reference: https://github.com/olifolkerd/tabulator/issues/2117
    table.redraw(true); //may be needed to fix bug where up scroll is disappearing rows.
    backupChanges(); //todo:is this necessary?
    //new row button click handler:
    $("#add-row").click(function(){
        var newRowData = {};
        var row = table.getRow(0); //todo: this will fail on empty spreadsheet - do we support those?
        if(row.getCell(curation_status) === undefined){ //curation status column not present

        } else{
            newRowData[curation_status] = "Proposed";
            //If newRowData[curator] isn't defined here there is a bug. Uncaught typerror Cannot read property 'indexOf' of undefined
            newRowData[curator] = loginInitials;  // if we don't want this, maybe use " " instead?
        }
        clearFormatting(); //needs to be here, not after table.addRow or bad things happen
        table.addRow(newRowData);
        //rowAdded triggered here
    });

    //delete row button click handler:
    $("#delete-rows").click(function(){
        var selectedRows = table.getSelectedRows();
        if(selectedRows.length > 1){
            if (confirm("Do you really want to delete these rows?")) {
                table.deleteRow(selectedRows);
            } else {
                //deselect rows here?
            }
        } else if(selectedRows.length == 1){
            if (confirm("Do you really want to delete this row?")) {
                table.deleteRow(selectedRows);
            } else{
                //deselect rows here?
            }
        } else{
            alert("No rows selected");
        }
    });

    $("#highlight-user").click(function(){
        highlightLogin = !highlightLogin;
        if(highlightLogin){
            this.children[0].style.color = "#333300"; //colour of marker
        } else{
            this.children[0].style.color = null;
        }
        table.redraw(true); 
        //renderComplete triggered here console.log("plus: " + heightOfTable);
    });

    //todo: button icon highlighted if a filter is active?
    $("#remove-formatting").click(function(){
        clearFormatting(); //todo: this should also switch all up/down arrow filters back..
    });

    $("#ask-for-review").click(function(){
        //console.log("ask for review");
        var selectedRows = table.getSelectedRows(); 
            //console.log(selectedRows);
            if(selectedRows == ""){
                alert("No rows selected");
            } else{
                var inputArray = [];
                for (var i = 0; i < allInitials.length; i++) {
                    inputArray.push({text: allInitials[i], value: allInitials[i]});
                }
                bootbox.prompt({
                title: "Choose reviewers",
                inputType: 'checkbox',
                inputOptions: $(inputArray),
                callback: function (result) {                    
                    selectedRows.forEach(function (row) {
                        //logic:
                        //1. Don't repeat initials already present
                        //2. add selected initials (in dropdown) to cell
                        //3. join with "; " except the first one (if cellValue !== null)

                        var cell = row.getCell(to_be_reviewed_by);
                        var cellValue = cell.getValue();
                        var reviewedCell = "";
                        var addData = result.join("; ");
                        if (cellValue !== null && cellValue !== "") {
                            reviewedCell = cellValue + "; " + addData;
                        } else{
                            reviewedCell = addData;
                        }
                        row.update({"To be reviewed by":reviewedCell}); 
                        row.deselect();
                        });
                    }
                });
        }
    });

    $("#reviewed").click(function(){
        var selectedRows = table.getSelectedRows(); 
        //console.log(selectedRows);
        if(selectedRows == ""){
            alert("No rows selected");
        }
        
        selectedRows.forEach(function (row) {
            if(row.getCell(to_be_reviewed_by) === undefined){

            } else{
                var cell = row.getCell(to_be_reviewed_by);
                var cellValue = cell.getValue();
                var reviewedCell = "";
                //three options to replace (eg if loginInitials are "to"):
                // ; to | to; | to 
                var semiFirst = "; " + loginInitials;
                var semiAfter = loginInitials + "; ";

                if (cellValue !== null) {
                    reviewedCell = cellValue.replace(semiFirst, '');
                    reviewedCell = reviewedCell.replace(semiAfter, '');
                    reviewedCell = reviewedCell.replace(loginInitials, '');
                } 
                row.update({"To be reviewed by":reviewedCell}); 
                row.deselect();
            }
        });
        //now deselect rows

    });

    //make table smaller 
    $("#minus").click(function(){
        if(JSON.stringify(table.getData()) === previousTableData){ //ok this works
            console.log("SAME SAME");
        } else {
            console.log("NOT SAME WHY?");
    }
        heightOfTable -= 50;
        if(heightOfTable < 200){
            heightOfTable = 200;
        }
        localStorage.setItem("height", JSON.stringify(heightOfTable)); 
        if(tableEdited){
            if (confirm("All changes to the table will be lost, continue?")) {
                    location.reload(); //reload web page
                } else {
                    alert("The table will be re-sized next time you refresh the web page. \n Remember to save your work.")
                }
        } else{
            location.reload(); //reload web page
        }    
    });

    //make table bigger 
    $("#plus").click(function(){
        //todo: test save array - remove when feature is complete:
        backupChanges();
        // var tableArray = table.getData();
        // var jsonArray = JSON.stringify(tableArray); //todo: do we need this?
        // localStorage.setItem("savedTableData", jsonArray);

        heightOfTable = heightOfTable + 50;
        if(heightOfTable > 2000){
            heightOfTable = 2000;
        }
        localStorage.setItem("height", JSON.stringify(heightOfTable)); 
        if(tableEdited){
            if (confirm("All changes to the table will be lost, continue?")) {
                    location.reload(); //reload web page
                } else {
                    alert("The table will be re-sized next time you refresh the web page. \n Remember to save your work.")
                }
        } else{
            location.reload(); //reload web page
        }    
    });

    $('#contentTable').ready(function() {
        //warn user if unsaved changes:
        window.onbeforeunload = function(e) {
            if(tableEdited){
                if(e){
                    var message = "You have not saved your changes.";
                    e.returnValue = message;
                }
                return message;
            }
        };

    });


    function backupChanges(){
        var tableArray = table.getData();
        //whole table:
        var jsonArray = JSON.stringify(tableArray); 
        localStorage.setItem("savedTableData", jsonArray);
        //changed cells:         
        if(changes.length > 0){
            var cellArray = JSON.stringify(changes);
            localStorage.setItem("savedChanges", cellArray);
        }
    }

    //todo: this should also change all up/down filter arrows back
    function clearFormatting(){
        var filteredColumns = table.getColumns(); //this is all columns, should we get filtered ones only?
        for(var i = 1; i < filteredColumns.length; i++){ //filteredColumns array starts at 1? Urrrgh!
            table.getColumn(filteredColumns[i]).setHeaderFilterValue("");
        }
    }

    /**
    * Submit a pull request to github to update the given configuration file in the repository.
    */
    var save_changes = function(repo_key, folder, spreadsheet, rowData) {
    $("#commit-msg").attr('value','Updating ' + spreadsheet);

    // Get a confirmation from the user:
    var modal = bootbox.dialog({
        title: "You are about to submit changes. Please describe the changes you have made to " + spreadsheet,
        message: $("#message-box").html(),
        buttons: {
        confirm: {
            label: 'Submit',
            className: 'btn-danger',
            callback: function() {
                var aForm = modal.find(".form");
                var formData = aForm.serializeArray(),
                    dataObj = {};
                $(formData).each(function(i, field){
                dataObj[field.name] = field.value;
                });
                var commit_msg = dataObj["commit-msg"];
                var msgBody = dataObj["descr"];
                if (commit_msg !== null && commit_msg !== undefined) {
                    if (!commit_msg || commit_msg.trim() === "") {
                    bootbox.alert({
                        closeButton: false,
                        message: "Commit message cannot be empty. Your change has not been submitted."});
                    return;
                    }

                    // Embed the code into a request.
                    var request = new XMLHttpRequest();
                    // Define a function to handle a state change of the request:
                    request.onreadystatechange = function() {
                    $("*").css("cursor", "default");
                    if (request.readyState === 4) {
                        if (!request.status) {
                            alert("Problem communicating with server");
                        }
                        else if (request.status === 200) {
                          $('#saveAlert').removeClass('alert-danger');
                          $('#saveAlert').addClass('alert-success');
                          $("#saveMessage").text('Changes were saved successfully to the repository. ');
                          $("#saveAlert").dismissed = false;
                          $("#saveAlert").show(); //todo: make it clear that this will re-load the page and changes will be lost
                          $('#save-btn').hide(); //saved successfully, hide save button
                          //remove cell.getElement().style.color = "#003399"; 
                          //todo: can I just re-load the table here? 
                          var rows = table.getRows();
                          for (i = 0; i < rows.length; i++) {
                            var cells = rows[i].getCells();
                            for(j = 0; j < cells.length; j++){
                                cells[j].getElement().style.color = 'black'; //do we want to change all to black?
                            }
                          } 
                          if(tableEdited){
                            tableEdited = false;
                          }
                          window.localStorage.removeItem("savedChanges");  //remove saved changes from localStorage        
                          changes = []; //no changes anymore to save
                          backupChanges();
                        } else {
                          var response = JSON.parse(request.responseText);
                          var errInfo = response['Error'];
                          $('#saveAlert').removeClass('alert-success');
                          $('#saveAlert').addClass('alert-danger');
                          $("#saveMessage").text('There was a problem saving changes: '+errInfo);
                          $(".alert").alert()
                          $("#saveAlert").show();
                        }
                    }
                    }
                    // Post the request to the server.
                    request.open('POST', '/save', true);
                    request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                    request.send('repo_key=' + repo_key +
                                '&folder=' + folder +
                                '&spreadsheet=' + spreadsheet +
                                '&rowData=' + rowData +
                                '&commit_msg=' + commit_msg +
                                '&commit_msg_extra='+ msgBody +
                                '&file_sha= {{file_sha}} ' );
                    $("*").css("cursor", "progress");
            }
            }
        },
        cancel: {
            label: 'Cancel',
            className: 'btn-primary'
        }
        }
    });
    };


    /** Hide save results message */
    $("#closeSaveMsgBtn").click(function() {
        $("#saveMessage").text('');
        $(this).parent().hide();
    });

    //override ctrl-s save:
    jQuery(document).keydown(function(event) {
        // If Control or Command key is pressed and the S key is pressed
        // run save function. 83 is the key code for S.
        if((event.ctrlKey || event.metaKey) && event.which == 83) {
            // Save Function
            event.preventDefault();
            console.log("Save!");
            if(tableEdited){
                $('#save-btn').trigger('click');
            }
            return false;
        }
    });
</script>

{% endblock %}
