{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-md-12">
        <h1 id="import_header"> EXTERNAL IMPORTS</h1>
    </div>
</div>
<script type="text/javascript">
    console.log("start");
    var spreadsheets = {{ spreadsheets | safe}};
    console.log(spreadsheets);

    var rowData1 = {{rows1 | safe}};
    var rowData2 = {{rows2 | safe}};
    console.log(rowData1);
    console.log(rowData2);
    
</script>

{% endblock %}

{%block javascript%}

{% endblock %}