{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style>
    body {
        margin: 0px;
        padding: 0px;
    }

    #wrapper {
        position: relative;
        border: 0px;
        width: 1920px;
        height: 1080px;
        top: 80px;
        left: 0px
    }

    #buttonWrapper {
        position: fixed;
        width: 30px;
        top: 150px;
        left: 40px
    }

    #downloadWrapper {
        position: fixed;
        width: 100px;
        top: 160px;
        left: 100px
    }
</style>

<!-- <h1>VISUALISATIONS</h1> -->

<div class="row mb-3">
    <div class="col-md-12">
        <h1 id="s-name"> VISUALISATIONS: {{sheet}} </h2>
    </div>
</div>
<!--<p>{{dotStr}}</p> -->

<body onmousedown="return false;">
    <!-- todo: move all styles inline, or at least remove redundancies -->
    <div id="wrapper">
        <canvas id="myCanvas" width="1920" height="1080"></canvas>
        <div id="buttonWrapper">
            <button id="plus" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i></button>
            <button id="minus" class="btn btn-outline-dark btn-sm"><i class="fas fa-minus"></i></button>
        </div>
        <div id="downloadWrapper">
            <input type="button" id="download" class="btn btn-outline-dark" value="Download Visualisation">
        </div>
    </div>

    <!-- WASM GRAPHVIZ -->
    <script src="https://cdn.jsdelivr.net/npm/@hpcc-js/wasm@1.7.1/dist/index.min.js"></script>
    <script>
        var hpccWasm = window["@hpcc-js/wasm"];
    </script>

    <script>
        var loaded = false;
        var img1 = new Image();
        //zoom canvas code from https://stackoverflow.com/questions/3420975/html5-canvas-zooming
        function draw(scale, translatePos) {
            var canvas = document.getElementById("myCanvas");
            var context = canvas.getContext("2d");
            context.clearRect(0, 0, canvas.width, canvas.height);

            if (!loaded) {
                var dotStr = `
            {{ dotStr | safe }}
            `;
                // Asynchronous call to layout
                hpccWasm.graphviz.layout(dotStr, "svg", "dot").then(svg => {
                    var data = svg;
                    var DOMURL = window.URL || window.webkitURL || window;

                    var svg = new Blob([data], { type: 'image/svg+xml' });
                    var url = DOMURL.createObjectURL(svg);
                    img1.onload = function () {
                        //resize canvas if image is larger than screen
                        //or resize canvas to size of screen if image is smaller.. 
                        if (this.naturalWidth > window.screen.availWidth && this.naturalHeight > window.screen.availHeight) {
                            canvas.width = this.naturalWidth;
                            canvas.height = this.naturalHeight;
                        } else {
                            if (this.naturalWidth > window.screen.availWidth) {
                                canvas.width = this.naturalWidth;
                            } else if (this.naturalHeight > window.screen.availHeight) {
                                canvas.height = this.naturalHeight;
                            } else {
                                canvas.width = window.screen.availWidth;
                                canvas.height = window.screen.availHeight;
                            }
                        }
                        context.drawImage(img1, 0, 0, img1.width, img1.height, translatePos.x, translatePos.y, img1.width * scale, img1.height * scale);
                        // DOMURL.revokeObjectURL(url); //no we need url for updates to canvas

                    }
                    img1.src = url;
                    loaded = true;


                });
            } else {
                context.drawImage(img1, 0, 0, img1.width, img1.height, translatePos.x, translatePos.y, img1.width * scale, img1.height * scale);
            }
        }

        window.onload = function () {
            var canvas = document.getElementById("myCanvas");

            var translatePos = {
                x: 0,
                y: 0
            };

            var scale = 1.0;
            var scaleMultiplier = 0.8;
            var startDragOffset = {};
            var mouseDown = false;

            // add button event listeners
            document.getElementById("plus").addEventListener("click", function () {
                scale /= scaleMultiplier;
                draw(scale, translatePos);
            }, false);

            document.getElementById("minus").addEventListener("click", function () {
                scale *= scaleMultiplier;
                draw(scale, translatePos);
            }, false);



            // add event listeners to handle screen drag
            canvas.addEventListener("mousedown", function (evt) {
                mouseDown = true;
                startDragOffset.x = evt.clientX - translatePos.x;
                startDragOffset.y = evt.clientY - translatePos.y;
            });

            canvas.addEventListener("mouseup", function (evt) {
                mouseDown = false;
            });

            canvas.addEventListener("mouseover", function (evt) {
                mouseDown = false;
            });

            canvas.addEventListener("mouseout", function (evt) {
                mouseDown = false;
            });

            canvas.addEventListener("mousemove", function (evt) {
                if (mouseDown) {
                    translatePos.x = evt.clientX - startDragOffset.x;
                    translatePos.y = evt.clientY - startDragOffset.y;
                    draw(scale, translatePos);
                }
            });

            draw(scale, translatePos);

            document.getElementById("download").addEventListener("click", function () {
                console.log("download clicked");
                var dotStr2 = `
                {{ dotStr | safe }}
                `;
                // Asynchronous call to layout
                hpccWasm.graphviz.layout(dotStr2, "svg", "dot").then(svg2 => {
                    var data2 = svg2;
                    var DOMURL2 = window.URL || window.webkitURL || window;

                    var svg2 = new Blob([data2], { type: 'image/svg+xml' });
                    var url2 = DOMURL2.createObjectURL(svg2);
                    let saveImage = (img_name) => {
                        let a = document.createElement('a');
                        a.href = url2;
                        // a.href = pic.toDataURL("image/png"); //todo: should we convert to png image? needs work..
                        // a.download = img_name; //this saves as .xlsx in chrome
                        //change to .svg:
                        a.download = img_name.slice(0, -5)+".svg";                        
                        document.body.appendChild(a);
                        a.click();
                    }
                    saveImage("{{ sheet }}");
                    DOMURL.revokeObjectURL(url2);
                });
            });

        }

    </script>
    {% endblock %}

    {%block javascript%}

    {% endblock %}