name: CI
on:
  push:
    branches:
      - main
      - develop
  pull_request:
jobs:
  run-linters:
    permissions:
      checks: write
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Run ruff
        uses: astral-sh/ruff-action@v3
  build:
    runs-on: ubuntu-latest
    needs: run-linters
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install js dependencies
        run: >
          npm install
      - name: Build javascript
        run: >
          npm run build
      - name: Build deploy package
        run: >
          tar -czf onto-ed.tar.gz app.py requirements.txt migrations ose scripts
      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: onto-ed.tar.gz
  deploy-dev:
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    environment:
      name: development
      url: https://test.onto-ed.hbcptools.org/
    needs:
      - build
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: app
    - name: Deploy app
      env:
        PRIVATE_KEY: ${{ secrets.deploymentKey }}
      run: >
        echo $PRIVATE_KEY | base64 --decode > privkey &&
        chmod 600 privkey &&
        mkdir -p $HOME/.ssh &&
        scp -o StrictHostKeyChecking=no -O -i privkey onto-ed.tar.gz ${{ secrets.deploymentUser }}@${{ secrets.deploymentHost }}:${{ secrets.deploymentPath }} &&
        ssh -o StrictHostKeyChecking=no -i privkey ${{ secrets.deploymentUser }}@${{ secrets.deploymentHost }} "sudo ./redeploy development"
  deploy-prod:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment:
      name: hbcptools
      url: https://onto-ed.hbcptools.org/
    needs:
      - build
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: app
    - name: Deploy app
      env:
        PRIVATE_KEY: ${{ secrets.deploymentKey }}
      run: >
        echo $PRIVATE_KEY | base64 --decode > privkey &&
        chmod 600 privkey &&
        mkdir -p $HOME/.ssh &&
        scp -o StrictHostKeyChecking=no -O -i privkey onto-ed.tar.gz ${{ secrets.deploymentUser }}@${{ secrets.deploymentHost }}:${{ secrets.deploymentPath }} &&
        ssh -o StrictHostKeyChecking=no -i privkey ${{ secrets.deploymentUser }}@${{ secrets.deploymentHost }} "sudo ./redeploy hbcptools"
